.header{
  display: block;
   
  /* margin-top: 0; */
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}
.nav{
  background-color: white;
  display: flex;
  height: 80px;
  justify-content:space-between;
  align-items: center;
  margin-top: 0;
  list-style: none;
  padding-left: 10%;
  padding-right: 10%;
  

}
.nav>li{
  color: blue;
    /* text-decoration: none !important; */
  
}
.nav>li.hover{
  color: red;
 
}
.productContainer{
  display: flex;
  padding:20px;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.products{
  width:25%;
  padding: 10px;
  margin: 10px;
  display:flex;
  flex-direction: column;
  border: 1px solid black;
}
.productDesc{
  display: flex;
  justify-content: space-between;
  padding:5px
}