.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: grey;
   
    
}
.container{
  display: flex;
  height: 80vh;
  align-items: center;
  border: 1px black;
  flex-direction: column;
  padding: 20px;
  font-size: 20px;
  color: beige;

}
.formInput{
  display: flex;
  justify-content: space-around;
}
.input{
  width:80%;
  border:none;
  border-radius: 20px;
}
/* .button{
    display: flex;
    border: none;
  border-radius: 25px;
  color: aquamarine;

    
} */