.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: antiquewhite;
    flex-direction: column;
    
    
}
.button{
    display: flex;
    border: none;
  border-radius: 25px;
  color: aquamarine;

    
}